useDynLib(RECG)

#exportPattern("^[[:alpha:]]+")

export("CreateECGDataModel", "PlotECG", "ReadECG.WFDB", "BeatDetector", "ExportAscii","ECGDelineator", "Rms",
		"PlotDelineation", "WaveletTransform", "BeatDetectorWaveletPlot", "ECGDelineatorValidation")

#import("signal")